<html  xmlns:th = "http://www.thymeleaf.org"
xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>

<div id="map">MAP</div>
<button onclick="openFilterMenu()">Filter</button>
<div id="filter-panel">
    <form th:action="@{/filter}" method="get">
        <input type="checkbox" name="services" value="a"> Service A<br>
        <input type="checkbox" name="services" value="b"> Service B<br>
        <input type="checkbox" name="services" value="c"> Service C<br>
        <button type="submit">Filter</button>
    </form>
</div>
<p>Selected service: <span th:text="${selectedService}"></span></p>

<script th:inline="javascript">
    var coordinates = [[${coordinates}]]
    var map = L.map('map').setView([55.749, 37.539], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 19,
        style: 'https://api.maptiler.com/maps/basic/style.json?key=KChue7575PkSQod1gdQC'
    }).addTo(map);
    for (var i = 0; i<coordinates.length; i++){
        L.marker([coordinates[i].lat, coordinates[i].lng]).addTo(map)
    }
</script>








</body>
</html>